<%- include layouts/header.ejs %>

        <div class="page-data">
         <div class="data-btn">
           <button onClick="addbasePortfolio();">+ Add</button>
           <button onClick="deleteAllbasePortfolio();">- Delete All</button>
         </div>
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">ID</th>
                    <th>Risk Tolerance Level</th>
                    <th>Security ID</th>
                    <th>Ratio</th>
                    <th>created</th>
                    <th width="120px">Action</th>
                </tr>
                               
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>
                 
                <tr>
                    <td><%=data[i].id%></td>
                    <td><%=data[i].risk_tolerance_level%></td>
                    <td><%=data[i].security_id%></td>
                    <td><%=data[i].ratio%></td>
                    <td><%=data[i].created_at%></td>
                    <td>
                        <a class="a-inside edit" href="../basePortfolios/edit/<%=data[i].id%>">Edit</a>
                       
                        <a class="a-inside delete" href="../basePortfolios/delete/<%=data[i].id%>">Delete</a>
                       
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No base portfolios data</td>
                 </tr>
            <% } %>
                
                              
                
            </table>
         </div>
        </div>
        
<%- include layouts/footer.ejs %>
